html {
  width: 100%;
  height: 100%; }

a {
  color: #1e7b82;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

a:hover,
a:focus {
  text-decoration: none;
  color: #1e7b82; }

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #F2F2F2;
  font-size: 18px;
  margin: 0 0 23px 0; }

p {
  font-size: 18px;
  line-height: 24px; }

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: 6.5px; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: thin;
  font-size: 24px;
  line-height: 45px;
  letter-spacing: 2px;
  color: #2a2a2a; }

h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 45px;
  text-align: center; }

h4 {
  font-weight: 300;
  font-size: 27px;
  line-height: 37px;
  color: #1e7b82; }

h5 {
  font-weight: 300;
  font-size: 16px;
  line-height: .23em; }

.img {
  display: table-cell;
  vertical-align: middle;
  width: 150px; }

.fa-bars {
  color: white; }

.btn {
  border-radius: 0;
  text-transform: uppercase; }

.btn-subscribe {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif, sans-serif;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  min-width: 145px; }

.btn-wig {
  font-family: "Montserrat", sans-serif;
  width: 375px;
  margin-top: 20px; }

.btn-primary {
  border-radius: 5px;
  color: white;
  background-color: #cf3b31;
  border-color: grey; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #bb352c; }

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #cf3b31;
  outline: 0;
  color: #959595;
  background-color: #ceebe8; }

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1); }

.btn-circle {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  font-size: 40px;
  color: #F2F2F2;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s; }

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  background-color: #1e7b82;
  letter-spacing: 1px;
  font-weight: thin; }

.navbar-custom .navbar-brand {
  font-weight: 700; }

.navbar-custom .navbar-brand:focus {
  outline: 0; }

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: white; }

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0; }

.navbar-custom a {
  color: white; }

.navbar-custom .nav li a {
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out; }

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent; }

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent; }

.navbar-custom .nav li.active {
  outline: 0; }

.navbar-custom .nav li.active a {
  background-color: #ceebe8;
  opacity: .8;
  color: #333; }

.navbar-custom .nav li.active a:hover {
  color: #333; }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #1e7b82; } }
.navbar-fixed-top {
  z-index: -1; }

.top-nav-collapse {
  z-index: 1; }

@media (max-width: 768px) {
  .top-nav-collapse,
  .navbar-fixed-top {
    z-index: 1; } }
.about-section {
  background-color: #F2F2F2;
  width: 100%; }

.spotlight {
  background-color: #F2F2F2;
  margin: 40px;
  padding: 40px; }

.intro {
  background-color: #F2F2F2; }

.intro-body {
  position: relative;
  background: url(../img/WomenInGrowthPanel2.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0 auto;
  height: 100%;
  background-position: center;
  background-attachment: fixed; }

.intro-body img {
  float: left;
  padding-left: 40px; }

.logo-box img {
  width: 125px;
  margin-bottom: 100px;
  margin-top: 40px; }

#subscribe {
  width: 400;
  text-align: center;
  margin: 0px auto; }

.transparent-box {
  background-color: rgba(30, 122, 128, 0.8);
  margin-top: 250px; }

.hidden-banner {
  background-color: rgba(30, 122, 128, 0.8);
  color: white;
  text-align: center; }
  .hidden-banner p {
    padding-top: 20px; }

#events {
  width: 100%;
  padding: 50px 0;
  background-color: #ceebe8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center; }

.page-scroll-circle {
  bottom: 10px;
  left: 50%;
  margin-left: -60px / 2; }

#speakers {
  background-color: white; }

.speaker {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px; }
  .speaker p {
    text-transform: uppercase;
    font-size: 20px; }

.icons img,
.speaker img {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  margin-bottom: 20px; }

.speaker-logo.speaker-logo {
  margin: 0 auto;
  height: 50px;
  width: 50px; }

#meet-the-team {
  background-color: #ceebe8; }
  #meet-the-team img {
    height: 100px;
    width: 100px; }

#contact {
  padding-top: 0px;
  background-color: #1e7b82;
  width: 100%;
  padding-top: 30px; }

.get-in-touch {
  margin-top: 30px; }
  .get-in-touch h3 {
    color: white; }

.icons {
  background-color: #1e7b82;
  color: white;
  margin: 0px auto; }
  .icons p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px; }
  .icons img {
    margin: 0 auto;
    max-height: 65px;
    max-width: 65px; }

.icons {
  padding-top: 80px;
  padding-bottom: 80px; }

#mc_embed_signup {
  display: inline-table;
  margin-bottom: 20px; }

.email {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black; }

.date {
  font-size: 24px;
  margin-bottom: 20px; }

.team-detail {
  margin: 0 auto; }

.quote-name {
  float: right; }

.testimonial {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  padding: 10px 25px;
  background-color: #F2F2F2;
  padding-bottom: 40px;
  max-width: 700px; }

.table-responsive {
  display: table;
  margin: 0px auto;
  border: none; }
  .table-responsive img {
    width: 100px; }

.testimonial-container {
  width: 600;
  margin: 0px auto;
  text-align: center; }

cite {
  font-size: 14px;
  float: right; }

.contact-icons {
  margin-top: 0px;
  margin-bottom: 30px;
  color: white; }

.btn-social {
  width: 40px;
  height: 40px;
  color: #666666;
  border-radius: 50%;
  background-color: white;
  line-height: 40px;
  display: table-cell;
  padding: 0; }

.mobile-subscribe {
  background-color: white; }

.intro .visible-xs {
  background-color: white; }

.intro .visible-xs p {
  max-width: 286px;
  margin: 0 auto;
  margin-bottom: 20px; }

.intro .visible-xs ul {
  padding-left: 0; }

.mobile-email {
  width: 275px; }

.intro .visible-xs
.logo-mobile {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: 60px;
  width: 100px; }

.mobile-photo {
  margin: 0 auto;
  margin-top: 30px; }

.container {
  width: 100%; }

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo input.file,
.wufoo select.select {
  color: #646464; }

li {
  list-style: none; }

#foli23 label,
#foli7 label,
#foli6 label {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
  text-align: left; }

#about .container {
  max-width: 800px;
  text-align: left;
  text-align: center; }

label {
  display: block; }

ul {
  padding: 0px; }

#foli2 {
  padding-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase; }

#events p {
  font-weight: thin;
  font-size: 24px; }

#learn-connect-grow h3 {
  font-family: "Lato", sans-serif; }
#learn-connect-grow p {
  font-weight: 300;
  font-style: italic; }

#contact p {
  color: #F2F2F2;
  font-size: 8px; }

.go-down {
  margin-bottom: 20px; }

#Field2 {
  min-width: 275px; }

/* Really small phones */
@media screen and (max-width: 320px) {
  .btn-wig {
    width: 202px; }

  .btn-subscribe.btn-mobile {
    width: 275px;
    margin-top: 10px; } }
@media (max-width: 768px) {
  .btn-wig {
    width: 200px; }

  .spotlight {
    padding: 0px 20px 20px 20px;
    background-color: #F2F2F2; }

  .icons:first-child {
    padding-top: 30px; }

  .icons:nth-child(3) {
    padding-bottom: 30px; }

  .icons {
    padding: 10px 0 10px 0; } }
/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 480px) {
  #Field6,
  #Field23 {
    height: 30px;
    width: 275px; }

  #Field7 {
    height: 70px;
    width: 275px; } }
@media screen and (max-width: 480px) {
  .btn-subscribe.btn-mobile {
    width: 275px;
    margin-top: 10px; } }
/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 768px) {
  #Field6,
  #Field23 {
    height: 40px;
    width: 400px; }

  #Field7 {
    height: 92px;
    width: 400px;
    margin-bottom: 20px; } }
/* Desktops and Laptops */
@media screen and (min-width: 1200px) {
  #Field6,
  #Field23 {
    height: 40px;
    width: 320px; }

  #Field7 {
    height: 92px;
    width: 673px;
    margin-bottom: 20px; } }

/*# sourceMappingURL=site.css.map */
