$main-color: #1E7B82;
$logo-color: #60AD8A;
$lt-main: #CEEBE8;

$grey: #F2F2F2;
$grey-text: #2B2B2B;
$font-main: 'Open Sans', sans-serif;
$font-titles: 'Montserrat', sans-serif;
$button-color: #3A87E0;



a {
    color: $main-color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $main-color;
}


body {
    width: 100%;
    height: 100%;
    font-family: $font-main;
    font-weight: 300;
    color: black;
    background-color: white;
    font-size: 18px;
    margin: 0 0 23px 0;
}

p {
    font-size: 18px;
    line-height: 24px;

}

h1 {
    font-family: $font-titles;
    line-height: 1.2em;
    font-size:  75px;
    font-weight: bold;
}

h2 {
    font-family: $font-main;
    font-weight: thin;
    font-size: 24px;
    line-height: 45px;
}

h3 {
    font-family: $font-titles;
    letter-spacing: 1px;
    line-height: 45px;
    text-align: center;
}

 h4 {
    font-weight: 300;
    font-size: 27px;
    line-height: 37px;
    color: $main-color;
 }

 h5 {
    color: $grey;
    font-size: 8px;
}

.btTxt,
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: $font-titles,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid $grey;
    color: white;
    background-color: $button-color;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid $button-color;
    outline: 0;
    color: white;
    background-color: $lt-main;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: $grey;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}


.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    // text-transform: uppercase;
    font-family: $font-titles;
    background-color: $main-color;
    letter-spacing: 1px;

}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: white;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: $lt-main;
    opacity: .8;
    border-radius: 5px;
    color: #333;
}

.navbar-custom .nav li.active a:hover {
    color: #333;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: $main-color;
    }
}

 // ABOUT SECTION //

.about-section {
    background-color: $grey;
    width: 100%;
}

.spotlight {
    background-color: white;
    margin: 40px;
    padding: 40px;
}

@media(max-width:480px) {
    .spotlight {
    margin: 0px;
    padding: 0px;
}
}

.intro-body {

    background: url(../img/header-photo.png) no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.intro-body img {

    float: left;
    padding-left: 40px;
}

// .intro-body::after {
//     content: "";
//     background: url(image.jpg);
//     opacity: 0.5;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: -1;
// }

#subscribe {
    width: 400;
    text-align: center;
    margin: 0px auto;
}

.transparent-box {
    opacity: 0.4;
    background: #1E7B82;
    margin-top: 300px;
    width: 100%;
    padding: 40px 40px 100px 40px;
}


.events-section {
    width: 100%;
    padding: 50px 0;
    // background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: $lt-main;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


 // SPEAKER SECTION //


.speaker {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.icons img,
.speaker img {
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.speaker-logo.speaker-logo {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}


 // CONTACT SECTION //


.team-section {
    background-color: $lt-main;
    width: 100%;
    p {
        padding-top: 20px;
    }
    img {
        margin: 0 auto;
    }
}

#contact {
    padding-top: 0px;
    background-color: $main-color;
    width: 100%;
    padding-top: 30px;

}

// #contact.img {
//     width: 800px;
//     height: auto;
//     top: 10px;
// }

.get-in-touch {
    margin-top: 30px;
    h3 {
        color: white;
    }
}

.icons {
    background-color: $main-color;
    color: white;
    height: 300px;
    margin: 0px auto;
    p {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.icon img {
    margin: 0 auto;
    max-height: 65px;
    max-width: 65px;
}

.icons {
    padding-top: 80px;
}
#mc_embed_signup {
    display: inline-table;
    margin-bottom: 20px;
}



.email {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.date {
    font-size: 24px;
    margin-bottom: 20px;
}

.team-detail {
    margin: 0 auto;
}

.quote-name {
    float: right;
}

.testimonial {
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 10px 25px;
    background-color: $grey;
    padding-bottom: 40px;
}

.table-responsive {
    display: table;
    margin: 0px auto;
    border:none;
}

.img {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
}

.testimonial-container {
    width: 600;
    margin: 0px auto;
    text-align: center;
}

cite {
    font-size: 14px;
    float: right;
}

.contact-icons {
    margin-top: 0px;
    margin-bottom: 30px;
}

.mobile-title {
    color: $main-color;
    margin-left: 20px;
}
.mobile-addon {
    background-color: $main-color;
    margin-top: 60px;
}

.mobile-subscribe {
    background-color: red;
}
