@import "breakpoints";
@import "variables";


/* Really small phones */
@media screen and (max-width:$sm-mobile) {
    .btn-wig {
        width: 202px;
    }
    .btn-subscribe.btn-mobile {
    width: 275px;
    margin-top: 10px;
}
}


@media(max-width:$tablet) {
    .btn-wig {
        width: 200px;
    }
    .spotlight {
        padding: 0px 20px 20px 20px;
        background-color: $grey;
    }
    .icons:first-child {
        padding-top: 30px;
    }
    .icons:nth-child(3) {
        padding-bottom: 30px;
    }
    .icons {
        padding: 10px 0 10px 0;
    }


}

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width:$mobile) {
    #Field6,
    #Field23 {
        height: 30px;
        width: 275px;
    }
    #Field7 {
        height: 70px;
        width: 275px;
}
}

@media screen and (max-width: $mobile) {
    .btn-subscribe.btn-mobile {
        width: 275px;
        margin-top: 10px;
    }
}

/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width:$tablet) {
        #Field6,
    #Field23 {
        height: 40px;
        width: 400px;
    }

    #Field7 {
        height: 92px;
        width: 400px;
        margin-bottom: 20px;
    }

}

/* Desktops and Laptops */
@media screen and (min-width:$desktop) {
    #Field6,
    #Field23 {
    height: 40px;
    width: 320px;
    }

    #Field7 {
        height: 92px;
        width: 673px;
        margin-bottom: 20px;
        }
    }
