$main-color: #1e7b82;
$logo-color: #2db7c2;
$lt-main: #ceebe8;

$grey: #F2F2F2;
$grey-text: #2B2B2B;
$font-main: 'Open Sans', sans-serif;
$font-titles: 'Montserrat', sans-serif;
//$button-color-contrast: #be352d;
$button-color-contrast: #cf3b31
