$main-color: #417f63;
$logo-color: #60AD8A;
$lt-main: #ddeee6;

$grey: #F2F2F2;
$grey-text: #2B2B2B;
$font-main: 'Open Sans', sans-serif;
$font-titles: 'Montserrat', sans-serif;
$button-color-contrast: #AE5D82;
